.one-icon {
  margin: 0% 3% 0% 3%;
}

.icon-link {
  color: rgb(255, 255, 255);
}

a.icon-link:hover {
  cursor: pointer;
  position: relative;
}
a.icon-link span {
  display: none;
}
a.icon-link:hover span {
  font-size: 12px;
  letter-spacing: 0.5px;
  display: block;
  z-index: 100;
  background: rgb(66,73,85) no-repeat;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  line-height: 2.5;
  border-radius: 5px;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
