.frame1-div {
  display: flex;

  width: 100vw;
  max-width: fill;
  height: 70vh;
  max-height: fill;

  background-color: rgba(255,255,255,1);
  margin-top: 10%;

  transform: translateX(350em);
  transition: transform 4s .25s cubic-bezier(0,0.5,0.5,1),
              opacity .3s .25s ease-out;
}

.frame1-title-div {
  position: absolute;
  left: 5%;
}

.frame1-title {
  font-size: 1000%;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;

  transform: inherit;
  transition: inherit;
  will-change: transform;
}

.frame1-moretext {
  text-align: justify;
  max-width: 800px;
  max-height: 200px;

  transform: inherit;
  transition: inherit;
  will-change: transform;
}






.frame1-div.is-visible {
  background-color: rgba(255,255,255,0.5);
  transform: rotateZ(0deg);
}

.frame1-content-div.is-visible {
  transform: rotateZ(0deg);
}

.frame1-title.is-visible {
  transform: rotateZ(0deg);
}
