.frame2-div {
  width: stretch;
  max-width: stretch;
  height: stretch;
  max-height: stretch;

  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */

  position: sticky;
  /* overflow: hidden; */
}

.frame2-text-div {
  margin:auto;
  width: auto;
  text-align: center;
}

.frame2-text {
  font-size: 200%;
  margin: auto;
  width: 150%;
  padding-left: 12.5%;
}

.frame2-text.top {
  padding-bottom: 5%;
}

.frame2-text.bottom {
  padding-top: 7.5%;
}

.frame2-h2 {
  margin: auto;
  padding-left: 12.5%;
  width: 150%;
  font-size: 400%;
}

.frame2-lens-div {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;

  width: 1000px;
  height: 1000px;

  transform-origin: center right;
  /* border: 1px solid black; */

  margin: 0;
  float: right;

}

.frame2-img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;
  position: absolute;
}

.frame2-img {
  height: 300px;
  width: 300px;
  content: url("./frame2_images/camera_lens.jpg");
}

.frame2-img-div.first {
  top: 27.5%;
  right: -25%;
}

.frame2-img-div.second {
  top: 44.75%;
  right: 5%;
}

.frame2-img-div.third {
  bottom: 27.5%;
  right: -25%;

}
